#sign-up{
  margin-top: 10px;
  margin-left: 25px;
}

/* Signup Form */
.signup-email{
    width: 50px;
    /*float: left;*/
    margin-bottom: 10px;
}

.form-control.signup-email{
    background-color: transparent;
    width: 100%;
    height: 40px;
}

.form-control.signup-email:focus {
    background-color: rgba(0,0, 0, 0.3);
    border-color: #CD72E5;
    color: #FFF;
}


.signup-form{
    margin-top: 40px;
    /*15px gets applied by col-lg-3; 40-15=25*/
    margin-left: 25px; 
}

/*The main text and 
the subtext*/
#hero-text {
    margin-left: 40px;
    margin-top: 60px;
    width: 400px;
}

#hero-main{
    color: #303030;
    font-size: 60px;
}

#hero-subtext{
    color: #303030;
}

.hero-container-left{
    display: block;
    float: left;
    padding-left: 40px;
    border-right: 1px solid #FFF; 
}

.hero-container-right{
    display: block;
    float: left;
    margin-top:60px;
    width: 35%;
}
/*Parent container*/
.hero-container{
    width: 90%;
    margin: 0 auto;
    padding-left: 125px;
}


/*********** Buttons ************/

.btn-default.login-btn{
    /*Override default black */
    color: #FFF;    
    width: 100%;
    height: 50px;
    border-color: transparent;
}

.btn-default.login-btn:hover {
    /*Override default black */
    color: #FFF;    
    border-color: transparent;
}

#login-email-btn{
    background-color: #CD72E5;
}

#login-email-btn:hover {
    background-color: #E47FFF;
}

#login-facebook-btn{
    background-color: #4e69a2;
    border-color: transparent;
    margin-bottom: 10px;
}

#login-facebook-btn:hover {
    background-color: #7187b6;
    border-color: transparent;
}

#login-google-btn{
    background-color: #FE5E5E;
    border-color: transparent;
}

#login-google-btn:hover {
    background-color:   #FF8585;
    border-color: transparent;
}

.btn-group{
    float:right;    
    padding-right: 30px;
    width: 80%;
}
