<link href="css/style2.css" rel="stylesheet">
<div id="wrapper">
  <div id="sidebar-wrapper" class="col-md-4">
            <div id="sidebar">
                <ul class="nav list-group">
                          <div class="row" style="
    padding-top: 5%;">
        <h4 class="text-center">Messages</h4>
      </div>

      <hr>

      <div class="row">
           <div class="media" style="margin-left:5%">
              <a class="pull-left" href="#">
                    <img class="media-object img-circle" src="img/client1.jpg" height="50px" width="50px" alt="Media Object">
              </a>
             <div class="media-body" style="magin-top:5px">
                  <h5 class="media-heading">H.C VERMA - APSC 131</h5>
                  <p><i>by Spandan, 3 days ago</i></p>
             </div>
          </div>
         <hr>

           <div class="media" style="margin-left:5%">
              <a class="pull-left" href="#">
                    <img class="media-object img-circle" src="img/client1.jpg" height="50px" width="50px" alt="Media Object">
              </a>
             <div class="media-body" style="magin-top:5px">
                  <h5 class="media-heading">H.C VERMA - APSC 131</h5>
                  <p><i>by Spandan, 3 days ago</i></p>
             </div>
          </div>
   
         <hr>

           <div class="media" style="margin-left:5%">
              <a class="pull-left" href="#">
                    <img class="media-object img-circle" src="img/client1.jpg" height="50px" width="50px" alt="Media Object">
              </a>
             <div class="media-body" style="magin-top:5px">
                  <h5 class="media-heading">H.C VERMA - APSC 131</h5>
                  <p><i>by Spandan, 3 days ago</i></p>
             </div>
          </div>

         <hr>

           <div class="media" style="margin-left:5%">
              <a class="pull-left" href="#">
                    <img class="media-object img-circle" src="img/client1.jpg" height="50px" width="50px" alt="Media Object">
              </a>
             <div class="media-body" style="magin-top:5px">
                  <h5 class="media-heading">H.C VERMA - APSC 131</h5>
                  <p><i>by Spandan, 3 days ago</i></p>
             </div>
          </div>

          <hr>

          <div class="media" style="margin-left:5%">
              <a class="pull-left" href="#">
                    <img class="media-object img-circle" src="img/client1.jpg" height="50px" width="50px" alt="Media Object">
              </a>
             <div class="media-body" style="magin-top:5px">
                  <h5 class="media-heading">H.C VERMA - APSC 131</h5>
                  <p><i>by Spandan, 3 days ago</i></p>
             </div>
          </div>

          <hr>

          <div class="media" style="margin-left:5%">
              <a class="pull-left" href="#">
                    <img class="media-object img-circle" src="img/client1.jpg" height="50px" width="50px" alt="Media Object">
              </a>
             <div class="media-body" style="magin-top:5px">
                  <h5 class="media-heading">H.C VERMA - APSC 131</h5>
                  <p><i>by Spandan, 3 days ago</i></p>
             </div>
          </div>

          <hr>
      </div>

                </ul>
            </div>
  </div>
  <div id="main-wrapper" class="col-md-8 pull-right hidden-sm hidden-xs">
            <div id="main">
              <div class="row" id="userList">
              <div class="col-sm-12">
                
                <div class="row">
                  <div class="col-xs-2">
                    <a href="" ><img src="img/client1.jpg" class="img-thumbnail img-responsive img-circle pull-right" style="width:70px;"></a>
                  </div>  
                  <div class="col-xs-10">
                    <div class="panel panel-default">
                      <div class="panel-body">
                        Blah text goes here blah bla! Hello blah period.<br>
                        <span class="label label-info">45 minutes ago</span>
                      </div>
                    </div>
                  </div><!--/col-->
                </div><!--/row-->
              
              </div><!--/col-->
            
            </div><!--/row-->

              <div class="row" id="userList">
              <div class="col-sm-12">
                
                <div class="row">
                  <div class="col-xs-10">
                    <div class="panel panel-default">
                      <div class="panel-body">
                        Blah text goes here blah bla! Hello blah period.<br>
                        <span class="label label-info">45 minutes ago</span>
                      </div>
                    </div>
                  </div><!--/col-->
                  <div class="col-xs-2">
                    <a href="" ><img src="img/client1.jpg" class="img-thumbnail img-responsive img-circle pull-left" style="width:70px;"></a>
                  </div>  
      
                </div><!--/row-->
              
              </div><!--/col-->
            
            </div><!--/row-->
            </div>
          
            <div class="col-md-12 footer">
              <form class="form-inline">
                <div class="form-group" style="width:61% !important;">
                
                  <input class="form-control input-large" type="text" placeholder="Add to the conversation" style="width:100%;">
                </div>
                <button type="submit" class="btn btn-default">POST</button>
              </form>
            </div>
          
  </div>
</div>