<link href="css/style2.css" rel="stylesheet">
<link href="css/custom-listing.css" rel="stylesheet">

<!-- Custom Dependencies -->
<script src="other_components/ui-bootstrap-custom-build/ui-bootstrap-custom-tpls-0.13.3.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>
<!-- Img Carousel Template -->
<script type="text/ng-template" id="newImgCarouselTemplate.html">
    <div ng-mouseenter="pause()" ng-mouseleave="play()" class="carousel" ng-swipe-right="prev()" ng-swipe-left="next()">
        <div class="carousel-inner" ng-transclude></div>
        <a class="left carousel-control custom-carousel-control" ng-click="prev(true)" ng-show="slides.length > 1"><span class="glyphicon glyphicon-menu-left"></span></a>
        <a class="right carousel-control custom-carousel-control" ng-click="next(true)" ng-show="slides.length > 1"><span class="glyphicon glyphicon-menu-right"></span></a>
    </div>
</script>
<script src="bower_components/angular-material/angular-material.js"></script>
<div class="container-fluid detail-color">
    <div class="row" style="padding-top:50px;margin-top: 5%">
         <div class="col-sm-12 col-md-4">
            <div class="account-wall-1">
                 <!-- <img ng-src="{{post.imageUrl[0]}}" height="400px" width="100%" class=" img-centered" alt="">   -->
                <carousel interval=0 no-wrap=false template-url="newImgCarouselTemplate.html">
                  <!--   <img ng-src="{{post.imageUrl[0]}}" height="400px" width="100%" class=" img-centered" alt="">   -->
                    <slide ng-repeat="img in post.imageUrl" active="slide.active" ng-show="post.imageUrl.length != 0">
                        <div class="img-container"> 
                             <img ng-src="{{img}}" height="400px" width="100%" class=" img-centered" alt="">
                        </div>
                    </slide>
                    <!-- If no images -->
                    <slide ng-repeat="img in ['img/no_image_available.jpg']" active="slide.active" ng-show="post.imageUrl.length == 0">
                        <div class="img-container"> 
                             <img ng-src="{{img}}" class="" height="450px"  width="100%"> 
                        </div>
                    </slide>
                </carousel>
            </div>
            <BR>
           
            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4 img-margin" ng-repeat="img in post.imageUrl">
                    <img src="{{img}}" height="80px" width="100%" class="img-centered" alt="">
                </div>
                <!-- <div class="col-xs-4 col-sm-4 col-md-4 img-margin">
                    <img src="img/book1.jpg" height="80px" width="100%" class="img-centered" alt="">
                </div>  
                <div class="col-xs-4 col-sm-4 col-md-4 img-margin">
                    <img src="img/book1.jpg" height="80px" width="100%" class="img-centered" alt="">
                </div> -->
                 
            </div>
      
         </div>

         <div class="col-sm-12 col-md-8">
             <div class="account-wall-2">
                  <div class="row">


                        <div class="media" style="margin-left:5%">
                            <a class="pull-left" href="#">
                                  <img class="media-object img-circle" ng-src="https://graph.facebook.com/{{post.creator.providerId}}/picture?type=large" height="70px" width="70px" alt="Media Object">
                            </a>
                           <div class="media-body" style="magin-top:5px">
                            <ul class="list-inline">
                              <li>
                                <h3 class="media-heading">{{post.title}}</h3>
                                <P><i>by {{post.creator.displayName}}, {{post.created | date:'d MMMM yyyy'}}</i></p>
                              </li> 
                            <li class="pull-right" style="padding-right:2.5%">
                                <a class="btn btn-success" ng-if="$root.personId && $root.personId != post.creator._id" ng-click="openChatPage(post._id,post.creator._id)">Contact Now</a>
                                 <a class="btn btn-success" ng-if="!$root.personId" ng-click="launchLoginModal()">Login to Contact</a>
                            </li>  
                            </ul>
                           </div>
                        </div>
                        
        
                </div>
                <hr class="colorgraph-custom">
                    <div class="row">
                        <div class="col-sm-12 col-md-3 text-muted">
                            <h4><font color="#326AFF">Description:</font></h4>
                        </div>
                        <div class="col-sm-12 col-md-9">
                            <p>{{post.description}} </p>
                        </div>
                    </div>
                <hr>
                    <div class="row">
                        <div class="col-sm-12 col-md-3 text-muted">
                            <h4><font color="#326AFF">Prices: </font></h4>
                        </div>
                        <div class="col-sm-12 col-md-9">
                            <h2><b><font color="red">${{post.price}}</font></b></h2> 
                        </div>
                    </div>
            
                <div class="row" ng-if='post.category=="clothing" || post.category=="furniture" '>
                    <hr>
                    <div class="col-sm-12 col-md-3 text-muted">
                        <h4><font color="#326AFF">brand:</font></h4>
                    </div>
                    <div class="col-sm-12 col-md-9">
                        <h5><b>{{post.brand}}</b></h5> 
                    </div>
                </div>
                
                <div class="row" ng-if='post.category=="clothing" && post.size'>
                    <hr>
                    <div class="col-sm-12 col-md-3 text-muted">
                        <h4><font color="#326AFF">size:</font></h4>
                    </div>
                    <div class="col-sm-12 col-md-9">
                        <h5><b>{{post.size}}</b></h5> 
                    </div>
                </div>
                <div class="row" ng-if='post.category=="books" &&  post.bookTitle'>
                    <hr>
                    <div class="col-sm-12 col-md-3 text-muted">
                        <h4><font color="#326AFF">Book Name:</font></h4>
                    </div>
                    <div class="col-sm-12 col-md-9">
                        <h5><b>{{post.bookTitle}}</b></h5> 
                    </div>
                </div>
                <div class="row" ng-if='post.category=="books" && post.author'>
                    <hr>
                    <div class="col-sm-12 col-md-3 text-muted">
                        <h4><font color="#326AFF">Author:</font></h4>
                    </div>
                    <div class="col-sm-12 col-md-9">
                        <h5><b>{{post.author}}</b></h5> 
                    </div>
                </div>
                <div class="row" ng-if='post.category=="books" && post.course'>
                    <hr>
                    <div class="col-sm-12 col-md-3 text-muted">
                        <h4><font color="#326AFF">Course:</font></h4>
                    </div>
                    <div class="col-sm-12 col-md-9">
                        <h5><b>{{post.course}}</b></h5> 
                    </div>
                </div>
                <div class="row" ng-if='(post.category=="books" && post.category=="electronics") && post.year'>
                    <hr>
                    <div class="col-sm-12 col-md-3 text-muted">
                        <h4><font color="#326AFF">Year:</font></h4>
                    </div>
                    <div class="col-sm-12 col-md-9">
                        <h5><b>{{post.year}}</b></h5> 
                    </div>
                </div>
                <div class="row" ng-if='post.category=="electronics" && post.manufacturer'>
                    <hr>
                    <div class="col-sm-12 col-md-3 text-muted">
                        <h4><font color="#326AFF">manufacturer:</font></h4>
                    </div>
                    <div class="col-sm-12 col-md-9">
                        <h5><b>{{post.manufacturer}}</b></h5> 
                    </div>
                </div>
                <div class="row" ng-if='post.category=="books" && post.edition'>
                    <hr>
                    <div class="col-sm-12 col-md-3 text-muted">
                        <h4><font color="#326AFF">Edition:</font></h4>
                    </div>
                    <div class="col-sm-12 col-md-9">
                        <h5><b>{{post.edition}}</b></h5> 
                    </div>
                </div>
                <div class="row" ng-if="post.tags.length > 0">
                   <hr>
                        <div class="col-sm-12 col-md-3 text-muted">
                            <h4><font color="#326AFF">Tags:</font></h4>
                        </div>
                        <div class="col-sm-12 col-md-9">
                        <div ng-repeat="tag in post.tags" style="display:inline;">
                           <a class="btn btn-default"><b>{{tag}}</b></a>
                        </div>
                          <!--  <a class="btn btn-default"><b>apsc131</b></a>
                            <a class="btn btn-default"><b>3rdYear</b></a>
                           <a class="btn btn-default"><b>physics</b></a> -->
                        </div>
                    </div>
            </div>

            <div class="account-wall-2">
                <div class="text-right">
                        <a class="btn btn-success" ng-if="$root.personId">Comment</a>
                        <a class="btn btn-success" ng-if="!$root.personId" ng-click="launchLoginModal()">Login to Comment</a>
                    </div>

                    <hr class="colorgraph-custom">
                
                    <div class="row" ng-if="comments.length < 1 && !$root.personId">
                     <p style="padding-left:2%">No comments</p>
                    </div>
                    <div class="row" ng-if="comments.length < 1 && $root.personId">
                     <p style="padding-left:2%">Be first to comment</p>
                     <br>
                    </div>
                    <div ng-repeat="comment in comments">
                        <div class="row">
                        <div class="col-xs-3 col-md-1">
                            <div class="pull-right">
                            <img ng-src="https://graph.facebook.com/{{comment.providerId}}/picture?type=large" height="50px" width="50px" class=" img-centered" alt="" style="margin-left:30%">
                            </div>
                        </div>
                        <div class="col-xs-9 col-md-11 ">
                             <div>
                                <a><b>{{comment.displayName}}</b></a>
                                <span class="pull-right">{{comment.created  | date:'d MMMM, h:mm'}}</span>
                            </div>
                            <p>{{comment.message}}</p>
                        </div>
                        </div>
                        <hr>                 
                    </div>
                    <div class="row" ng-if="personId != null && personId != undefined">
                        <div class="col-xs-3 col-md-1">
                            <div class="pull-right">
                            <img ng-src="https://graph.facebook.com/{{person.providerId}}/picture?type=large" height="50px" width="50px" class=" img-centered" alt="" style="margin-left:30%" >
                            </div>
                        </div>
                        <div class="col-xs-9 col-md-11 ">
                             <div>
                                <a><b>{{person.displayName}}</b></a>
                                <span class="pull-right"></span>
                            </div>
                            <form ng-submit="addComment()"> 
                             <md-input-container md-no-float="">
                              <input ng-model="$parent.newComment" type="text" placeholder="Comment" type="submit">
                            </md-input-container>
                            </form>
                        </div>
                        
                    </div>
                  
            </div>

            </div>
         </div>
    </div>
</div>
