<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
            <div class="account-wall-2">

                <h3 class="text-center">LOG IN</h3>

                <hr class="colorgraph-custom">
            
                <form role="form" name="form" novalidate ng-submit="signin()">
                    <div class="form-group col-xs-12 col-sm-6 col-md-12">
                        <input type="text" ng-model=acctnumber name=acctnumber class="form-control" placeholder="USERNAME" tabindex="1" required>
                    </div>
                    <div class="form-group col-xs-12 col-sm-6 col-md-12">
                        <input type="password" ng-model=password name=password class="form-control" placeholder="PASSWORD" tabindex="2" required>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                                <hr class="colorgraph-custom">
                                <input type="submit" value="LOGIN" class="btn btn-success btn-block btn-lg">
                                <a class="btn btn-info btn-block btn-lg" href="" >REGISTER </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> -->
<link href="css/style2.css" rel="stylesheet">

<div class="container-fluid detail-color">
    <div class="row" style="padding-top:50px;margin-top: 5%">
         <div class="col-sm-12 col-md-4">
            <div class="account-wall-1">
                 <img src="img/book1.jpg" height="400px" width="100%" class=" img-centered" alt="">
            </div>
            <BR>
            <!-- div class="image-thumnail">
                <div class ="row">
                    <div class="col-xs-4 col-sm-4 col-md-4 img-margin">
                        <img src="img/billboard.jpg" width="100%" class="img-centered" alt="">
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 img-margin">
                    <img src="img/billboard.jpg" width="100%" class="img-responsive img-centered" alt="">
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 img-margin">
                    <img src="img/billboard.jpg" width="100%" class="img-responsive img-centered" alt="">
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 img-margin">
                    <img src="img/billboard.jpg" width="100%" class="img-responsive img-centered" alt="">
                    </div>
                </div>
            </div> -->
            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4 img-margin">
                        <img src="img/book1.jpg" height="80px" width="100%" class="img-centered" alt="">
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 img-margin">
                    <img src="img/book1.jpg" height="80px" width="100%" class="img-centered" alt="">
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 img-margin">
                    <img src="img/book1.jpg" height="80px" width="100%" class="img-centered" alt="">
                    </div>
                    <!-- <div class="col-xs-4 col-sm-4 col-md-4 img-margin">
                    <img src="img/billboard.jpg" height="80px" width="100%" class="img-centered" alt="">
                    </div> -->
            </div>
          <!--   <div class="account-wall-2"  style="margin-top: 5%">
                 <h3>Categories</h3>
            </div> -->
         </div>

         <div class="col-sm-12 col-md-8">
             <div class="account-wall-2">
                  <div class="row">


                        <div class="media" style="margin-left:5%">
                            <a class="pull-left" href="#">
                                  <img class="media-object img-circle" src="img/client1.jpg" height="70px" width="70px" alt="Media Object">
                            </a>
                           <div class="media-body" style="magin-top:5px">
                            <ul class="list-inline">
                              <li>
                                <h3 class="media-heading">H.C VERMA - APSC 131</h3>
                                <P><i>by Spandan, 3 days ago</i></p>
                              </li> 
                            <li class="pull-right" style="padding-right:2.5%">
                                <a class="btn btn-success">Contact Now</a>
                            </li>  
                            </ul>
                           </div>
                        </div>
                        
        
                </div>
                <hr class="colorgraph-custom">
                    <div class="row">
                        <div class="col-sm-12 col-md-3 text-muted">
                            <h4>Description:</h4>
                        </div>
                        <div class="col-sm-12 col-md-9">
                            <p>Is a very good comprehensive theoretical and a conceptual guide which covers the topics like from heat and temperature to the semiconductor devices. </p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-12 col-md-3 text-muted">
                            <h4>Prices:</h4>
                        </div>
                        <div class="col-sm-12 col-md-9">
                            <h5><b>$45</b><h5> 
                        </div>
                    </div>
                <hr>
                    <div class="row">
                        <div class="col-sm-12 col-md-3 text-muted">
                            <h4>Tags:</h4>
                        </div>
                        <div class="col-sm-12 col-md-9">
                           <a class="btn btn-default "><b>books</b></a>
                           <a class="btn btn-default"><b>apsc131</b></a>
                            <a class="btn btn-default"><b>3rdYear</b></a>
                           <a class="btn btn-default"><b>physics</b></a>
                        </div>
                    </div>
            </div>

            <div class="account-wall-2">
                <div class="text-right">
                        <a class="btn btn-success">Comment</a>
                    </div>

                    <hr class="colorgraph-custom">

                    <div class="row">
                        <div class="col-xs-3 col-md-1">
                            <div class="pull-right">
                            <img src="img/client1.jpg" height="50px" width="50px" class=" img-centered" alt="">
                            </div>
                        </div>
                        <div class="col-xs-9 col-md-11 ">
                         <div>
                            <a>Spandan</a>
                            <span class="pull-right">12 days ago</span>
                        </div>
                            <p>This product was great in terms of quality. I would definitely buy another!</p>
                        </div>
        
                    </div>

                     <hr>

                     <div class="row">
                        <div class="col-xs-3 col-md-1">
                            <div class="pull-right">
                            <img src="img/client3.jpg" height="50px" width="50px" class=" img-centered" alt="">
                            </div>
                        </div>
                        <div class="col-xs-9 col-md-11 ">
                         <div>
                            <a>Jessica</a>
                            <span class="pull-right">12 days ago</span>
                        </div>
                            <p>This product was great in terms of quality. I would definitely buy another!</p>
                        </div>
        
                    </div>

                    <hr>

                     <div class="row">
                        <div class="col-xs-3 col-md-1">
                            <div class="pull-right">
                            <img src="img/client2.jpg" height="50px" width="50px" class=" img-centered" alt="">
                            </div>
                        </div>
                        <div class="col-xs-9 col-md-11 ">
                         <div>
                            <a>Aditya</a>
                            <span class="pull-right">12 days ago</span>
                        </div>
                            <p>This product was great in terms of quality. I would definitely buy another!</p>
                        </div>
        
                    </div>
            </div>

            </div>
         </div>
    </div>
</div>
