
<!-- Custom CSS -->
<link href="css/agency.css" rel="stylesheet">
<link href="css/style2.css" rel="stylesheet">


 <nav class="navbar navbar-fixed-top" scroll style="border:0px;" ng-class="{'navbar-default':!boolChangeClass,'navbar-custom':boolChangeClass}">
    <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top"><b><font color="white">PRADA</font></b></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
            <!-- Left section -->
            <ul class="nav navbar-nav navbar-left">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="" href="#">Clothing</a>
                </li>
                <li>
                    <a class="" href="#">Books</a>
                </li>
                <li>
                    <a class="" href="#">Electronics</a>
                </li>
                <li>
                    <a class="" href="#">Furniture</a>
                </li>
            </ul>

            <!-- Right section -->
            <ul class="nav navbar-nav navbar-right">
                 <li >
                    <a id="post-item-btn" href="" data-toggle="modal" data-target="#myModal">
                        Post
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                    <!--button class="btn btn-default" >Post an Item</button-->
                </li>

                <li class="dropdown">
                     <a id="post-item-btn" href="" data-toggle="modal" data-target="#myModal">
                        Log In
                       
                    </a>
                </li>
                <li class="dropdown">
                     <a id="post-item-btn" href="" data-toggle="modal" data-target="#myModal" style="padding-right:50px">
                        Sign Up
                        
                    </a>
                </li>
            </ul>


        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>


<header>
        <div class="container">
            <div class="intro-text" style="padding-top:150px">
                <div class="intro-lead-in">Welcome To Our Studio!</div>
                <div class="intro-heading">It's Nice To Meet You</div>
                <!-- <button class="btn btn-default btn" ng-click="description()" style="padding:20px">Browse</button> -->
               
            </div>
        </div>
</header>
 <!-- <section id="services"  class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading" >We have got what you need</h2>
                   
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary"></i>
                        <h3>Sturdy Templates</h3>
                        <p class="text-muted">Our templates are updated regularly so they don't break.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Ready to Ship</h3>
                        <p class="text-muted">You can use this theme as is, or you can make changes!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Up to Date</h3>
                        <p class="text-muted">We update dependencies to keep things fresh.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>Made with Love</h3>
                        <p class="text-muted">You have to make your websites with love these days!</p>
                    </div>
                </div>
            </div>
        </div>
    </section> -->


<section id="portfolio" class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">We have got what you need!</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-search "></i>
                        <h3>Easy to Search</h3>
                        <p class="text-muted">Easily search through the websites using tags and filters.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-list-ul" data-wow-delay=".1s"></i>
                        <h3>Many Categories</h3>
                        <p class="text-muted">You can easily find what you are looking for through our categories!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-thumbs-up" data-wow-delay=".2s"></i>
                        <h3>Trust & Safety</h3>
                        <p class="text-muted">All the users are from University of Toronto, which removes the sketchiness</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart" data-wow-delay=".3s"></i>
                        <h3>Made with Love</h3>
                        <p class="text-muted">We have made the website for you!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


<!-- Services Section -->
<section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-3 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="img/BookLogo.jpg" height="250px" width="100%" class="" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Books
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="img/ElecLogo.jpg" height="250px" width="100%" class="" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Electronics
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="img/ClothLogo.jpg" height="250px" width="100%" class="" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Clothes
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="img/portfolio/1.jpg" height="250px" width="100%" class="" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Furniture
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>


<section id="portfolio" class="bg-light" style="padding-bot:5px;">
        <div class="container">
        <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Featured Posts</h2>
                    <h3 class="section-subheading text-muted" style="margin-bottom:10px">Check out some of the coolest posts we have</h3>
                </div>
        </div>
        <div class="row">
            <div class="col-md-2 hidden-sm hidden-xs">
                <div class="bs-sidebar hidden-print" role="complementary" data-offset-top="-60" bs-affix bs-scrollspy-list>
                  <ul class="nav bs-sidenav">
                    <li bs-scrollspy data-target="#getting-started" >
                      <a ng-click="scrollToHref('getting-started')"><font size="4" color="black">Books</font></a>
                    </li>
               
                    <li bs-scrollspy="" data-target="#Clothes">
                      <a  ng-click="scrollToHref('Clothes')"><font size="4" color="black">Clothes</font></a>
                    </li>
                    <li bs-scrollspy data-target="#Electronics" >
                      <a ng-click="scrollToHref('Electronics')"><font size="4" color="black">Electronics</font></a>
                    </li>
                    
                    <li bs-scrollspy="" data-target="#Furniture">
                      <a  ng-click="scrollToHref('Furniture')"><font size="4" color="black">Furniture</font></a>
                    </li>
                    <!-- <li bs-scrollspy="" data-target="#asides" >
                      <a href="#asides">Aside</a>
                    </li>
                    <li bs-scrollspy="" data-target="#alerts">
                      <a href="#alerts">Alert</a>
                    </li> -->
                  </ul>
                </div>
            </div>
            <div class="col-md-10">
            <section id="getting-started" style="padding-top:60px;padding-bottom:0px;">
                <div class="col-lg-12 text-left" style="padding-left:0">
                    <h3 class="section-heading" Style="font-size:31px">Books</h3>
            
                </div>
                 <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/roundicons.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Round Icons</h4>
                        <p class="text-muted">Graphic Design</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/startup-framework.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Startup Framework</h4>
                        <p class="text-muted">Website Design</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/treehouse.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Treehouse</h4>
                        <p class="text-muted">Website Design</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <a class="btn btn-success pull-right" ui-sref="listing">Check More Out <span><i class="fa fa-arrow-right fa-1x"></i></span></a>
            </div>
            <hr>
            </section>

            <section id="Clothes" style="padding-top:60px;padding-bottom:0px;">
                <div class="col-lg-12 text-left" style="padding-left:0">
                    <h3 class="section-heading" Style="font-size:31px">Clothes</h3>
            
                </div>
                 <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/roundicons.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Round Icons</h4>
                        <p class="text-muted">Graphic Design</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/startup-framework.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Startup Framework</h4>
                        <p class="text-muted">Website Design</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/treehouse.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Treehouse</h4>
                        <p class="text-muted">Website Design</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <a class="btn btn-success pull-right">Check More Out <span><i class="fa fa-arrow-right fa-1x"></i></span></a>
            </div>
            <hr>
            </section>
            

            <section id="Electronics" style="padding-top:60px;padding-bottom:0px;">
                <div class="col-lg-12 text-left" style="padding-left:0">
                    <h3 class="section-heading" Style="font-size:31px">Electronics</h3>
            
                </div>
                 <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/roundicons.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Round Icons</h4>
                        <p class="text-muted">Graphic Design</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/startup-framework.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Startup Framework</h4>
                        <p class="text-muted">Website Design</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/treehouse.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Treehouse</h4>
                        <p class="text-muted">Website Design</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <a class="btn btn-success pull-right">Check More Out <span><i class="fa fa-arrow-right fa-1x"></i></span></a>
            </div>
            <hr>
            </section>

            <section id="Furniture" style="padding-top:60px;padding-bottom:0px;">
                <div class="col-lg-12 text-left" style="padding-left:0">
                    <h3 class="section-heading" Style="font-size:31px">Furniture</h3>
            
                </div>
                 <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/roundicons.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Round Icons</h4>
                        <p class="text-muted">Graphic Design</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/startup-framework.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Startup Framework</h4>
                        <p class="text-muted">Website Design</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/treehouse.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Treehouse</h4>
                        <p class="text-muted">Website Design</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <a class="btn btn-success pull-right">Check More Out <span><i class="fa fa-arrow-right fa-1x"></i></span></a>
            </div>
            <hr>
            </section>


            </div>
        </div>
                
                       
                     
    </section>


    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Your Website 2014</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>


    <script src="js/cbpAnimatedHeader.js"></script>
