<section class="billboard dark">
        <header class="wrapper dark">
            
         
        
        </header>

        <div class="hero-container">
            <!-- Left Container -->
            <div class="hero-container-left">
                <div class="caption dark clearfix" id="hero-text">
                    <h1 id="hero-main">Prada</h1>
                    <p id="hero-subtext">A simpler way to buy fashion locally.</p>
                </div>
                <div class="shadow"></div>
            
               <div class="btn-group">
                    <button class="btn btn-default login-btn" id="login-facebook-btn">Connect with Facebook</button>
                    <br>
                    <button class="btn btn-default login-btn" id="login-google-btn">Connect with Google</button>
               </div>
            </div>
    
            <!-- Right Container -->
            <div class="hero-container-right">
                <form class="signup-form">
                    <div class="">
                        <div class="col-lg-18">
                            <input type="email" name="email" id="" placeholder="Email Address" class="signup-email form-control"/>
                            <input type="password" name="email" id="" placeholder="Password" class="signup-email form-control"/>
                            <input type="submit" value="Log In" id="login-email-btn" class="btn btn-default login-btn" />
                        </div>
                    </div>
                </form>
                <p id="sign-up"> Don't have an account? <a href="#">Sign up</a></p>
            </div>
        </div>
    </section><!--  End billboard  -->

    <section class="services wrapper">
        <ul class="clearfix">
            <li class="animated wow fadeInDown"  data-wow-delay=".2s">
                <img class="icon" src="img/icon2.png" alt=""/>
                <span class="separator"></span>
                <h2>Explore Online</h2>
                <p>Look at items from the comfort of your home. 
                Search items by style, color, seller.</p>
            </li>
            <li class="animated wow fadeInDown"  data-wow-delay=".4s">
                <img class="icon" src="img/icon3.png" alt=""/>
                <span class="separator"></span>
                <h2>Find What You Like</h2>
                <p>See what others have bought, and use our 
                recommendations to find the right fit.</p>
            </li>
            <li class="animated wow fadeInDown">
                <img class="icon" src="img/icon1.png" alt=""/>
                <span class="separator"></span>
                <h2>Buy Locally</h2>
                <p>Buy local shops and artisans, and support local businesses.</p>
            </li>
        </ul>
    </section><!--  End services  -->

    <section class="video">
        <img src="img/video_logo.png" alt="" class="video_logo animated wow fadeInDown"/>
        <h3 class="animated wow fadeInDown">who we are & what we do</h3>
        <a href="http://www.youtube.com/embed/cBJyo0tgLnw" id="play_btn" class="fancybox animated wow flipInX" data-wow-duration="2s"></a>
    </section><!--  End video  -->

    
    <section class="blog_posts">
        <div class="wrapper">
            <div class="title animated wow fadeIn">
                <h2>Recent Posts</h2>
                <h3>the most recent posts from our blog</h3>
                <hr class="separator"/>
            </div>

            <ul class="clearfix">
                <li class="animated wow fadeInDown">
                    <div class="media">
                        <div class="date">
                            <span class="day">25</span>
                            <span class="month">Jun</span>
                        </div>
                        <a href="#">
                            <img src="img/blog_post1.jpg" alt=""/>
                        </a>
                    </div>
                    <a href="#">
                        <h1>Sed do eiusmod tempor incididunt.</h1>
                    </a>
                </li>

                <li class="animated wow fadeInDown" data-wow-delay=".2s">
                    <div class="media">
                        <div class="date">
                            <span class="day">11</span>
                            <span class="month">May</span>
                        </div>
                        <a href="#">
                            <img src="img/blog_post2.jpg" alt=""/>
                        </a>
                    </div>                  
                    <a href="#">
                        <h1>Velit esse cillum dollore fugiat nulla.</h1>
                    </a>
                </li>

                <li class="animated wow fadeInDown" data-wow-delay=".4s">
                    <div class="media">
                        <div class="date">
                            <span class="day">13</span>
                            <span class="month">Feb</span>
                        </div>
                        <a href="#">
                            <img src="img/blog_post3.jpg" alt=""/>
                        </a>
                    </div>
                    <a href="#">
                        <h1>Officia deserunt mollit est anim laborum.</h1>
                    </a>
                </li>

                <li class="animated wow fadeInDown" data-wow-delay=".6s">
                    <div class="media">
                        <div class="date">
                            <span class="day">10</span>
                            <span class="month">Jan</span>
                        </div>
                        <a href="#">
                            <img src="img/blog_post4.jpg" alt=""/>
                        </a>
                    </div>
                    <a href="#"><h1>Culpa qui officia deserunt 
                    mollit ani
                    m.</h1>
                </a>
                </li>
            </ul>
        </div>
    </section><!--  End blog_posts  -->


    <footer>
        <div class="wrapper">
            <div class="rights">
                <img src="img/footer_logo.png" alt="" class="footer_logo"/>
                <p>© Sublime. All Rights Reserved 2014 - More Free Templates at <a href="http://pixelhint.com" target="_blank">Pixelhint.com</a></p>
            </div>

            <nav>
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </div>      
    </footer><!--  End footer  -->
    <script src='../ga.js'></script>
</body>
</html>
