<!-- Custom CSS -->
<link href="css/custom-agency-listing.css" rel="stylesheet">
<link href="css/custom-listing.css" rel="stylesheet">

<!-- Custom Dependencies -->
<script src="other_components/ui-bootstrap-custom-build/ui-bootstrap-custom-tpls-0.13.3.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>

<!-- Img Carousel Template -->
<script type="text/ng-template" id="imgCarouselTemplate.html">
    <div ng-mouseenter="pause()" ng-mouseleave="play()" class="carousel" ng-swipe-right="prev()" ng-swipe-left="next()">
        <div class="carousel-inner" ng-transclude></div>
        <a class="left carousel-control custom-carousel-control" ng-click="prev()" ng-show="slides.length > 1"><span class="glyphicon glyphicon-menu-left"></span></a>
        <a class="right carousel-control custom-carousel-control" ng-click="next()" ng-show="slides.length > 1"><span class="glyphicon glyphicon-menu-right"></span></a>
    </div>
</script>


<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="intro-text col-md-6 col-md-offset-3">
                        <div class="hero-main-text">{{text.category}}</div>
                        <div class="hero-sub-text">{{text.subtext}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container-fluid">
    <div class="row-fluid">
        <div ui-view="sidebar"></div>
        <!--div class="col-md-2 hidden-xs hidden-sm"></div-->
        <div class="col-md-10"><!-- Main Body -->

            <div class="container-fluid">
                <div id="sort-menu" class="row-fluid">
                    <span>SORT BY:</span>
                    <a href="#">Recently Added</a>
                    <a href="#">Most Viewed</a>
                    <a href="#">Price: Low-to-High</a>
                    <a href="#">Price: High-to-Low</a>
                </div>
            </div>     


            <!-- Posts -->
            <!-- Portfolio Grid Section -->
            <section id="portfolio" class="bg-light-gray">
                <div class="container-fluid">
                    <div class="row-fluid item-row">
                        <div ng-repeat="item in items" class="item-container col-md-4 col-sm-6  ">
                            <div class="item-container-inner portfolio-item"> 
                                <div class="item-container-top">
                                    <carousel interval=0 no-wrap=false template-url="imgCarouselTemplate.html">
                                        <slide ng-repeat="slide in item.slides" active="slide.active">
                                            <div class="img-container"> 
                                                <img ng-src="{{slide.img}}" class="img-responsive">
                                            </div>
                                        </slide>
                                    </carousel>

            				        <!-- Like heart -->
                                    <div class="like-container">
                                        <a href="#" class="like">&#9829;</a>
            						</div>

                                    <!-- Item Price -->
                                    <div class="item-price">
                                        <span class="item-price-currency-sym">$</span>
                                        <span class="item-price-value">{{item.price}}</span>
                                        <span class="item-price-currency-abr">CAD</span>
                                    </div>
            
                                    <!-- User Image -->
                                    <div class="user-pic-container">
                                       <!--img src="img/user/profile-pic.jpg"-->
                                       <img ng-src="{{'http://graph.facebook.com/' + item.creator.providerId + '/picture?type=square'}}">
                                    </div>

                                </div><!-- Ends .item-container-top-->    
                                <div class="portfolio-caption">
                                    <a href="">{{item.title}}</a>
                                </div>
                            </div><!-- .item-container-inner -->
                        </div><!-- .item-container -->
                    </div><!-- .row-fluid-->

                    <div class="row-fluid">
                        <div class="pagination-container">
                                <pagination ng-model="currentPage" 
                                            ng-change="pageChanged()" 
                                            total-items="60" 
                                            max-size="4" 
                                            items-per-page="12"
                                            class="pagination-sm" 
                                            rotate="false" ></pagination>
                        </div>
                    </div>
                </div>
            </section>
        </div><!-- Closes body -->
    </div>
</div><!-- Closes main .container -->




