<!-- Custom CSS -->
<link href="css/custom-agency-listing.css" rel="stylesheet">
<link href="css/custom-listing.css" rel="stylesheet">

<!-- Custom Dependencies -->
<script src="other_components/ui-bootstrap-custom-build/ui-bootstrap-custom-tpls-0.13.3.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>

<!-- Img Carousel Template -->
<script type="text/ng-template" id="imgCarouselTemplate.html">
    <div ng-mouseenter="pause()" ng-mouseleave="play()" class="carousel" ng-swipe-right="prev()" ng-swipe-left="next()">
        <ol class="carousel-indicators" ng-show="slides.length > 1">
            <li ng-repeat="slide in slides | orderBy:indexOfSlide track by $index" ng-class="{active: isActive(slide)}" ng-click="select(slide)"></li>
        </ol>
        <div class="carousel-inner" ng-transclude></div>
        <a class="left carousel-control custom-carousel-control" ng-click="prev()" ng-show="slides.length > 1"><span class="glyphicon glyphicon-menu-left"></span></a>
        <a class="right carousel-control custom-carousel-control" ng-click="next()" ng-show="slides.length > 1"><span class="glyphicon glyphicon-menu-right"></span></a>
    </div>
</script>


<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="intro-text col-md-6 col-md-offset-3">
                        <div class="hero-main-text">Clothing</div>
                        <div class="hero-sub-text">Buy, sell, and exchange clothing here.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container-fluid">
    <div class="row-fluid">
        <!-- Sidebar -->
        <div class="col-md-2 hidden-xs hidden-sm">
            <ul class="nav">
                <li>
                    <h4>Filter</h4>
                    <hr>  
                </li>     
                <li>
                    <div> Size </div>
                    <div class="row">
                        <div class="col-md-4">
                            <md-checkbox ng-model="filter.size.xs" class="md-warm">XS</md-checkbox>
                        </div>

                        <div class="col-md-4">
                            <md-checkbox ng-model="filter.size.s" class="md-warm">S</md-checkbox>
                        </div>    

                        <div class="col-md-4">
                            <md-checkbox ng-model="filter.size.m" class="md-warm">M</md-checkbox>
                        </div>

                        <div class="col-md-4">
                            <md-checkbox ng-model="filter.size.l" class="md-warm">L</md-checkbox>
                        </div>    

                        <div class="col-md-4">
                            <md-checkbox ng-model="filter.size.xl" class="md-warm">XL</md-checkbox>
                        </div>    

                        <div class="col-md-4">
                            <md-checkbox ng-model="filter.size.xxl" class="md-warm">XXL+</md-checkbox>
                        </div>    
                    </div>
                    <hr>
                </li>
                <li>
                    <div> Price </div>
                     <div class="checkbox">
                         <md-checkbox ng-model="filter.price1" class="md-warm">&lt; $5</md-checkbox>
                     </div>
                     <div class="checkbox">
                         <md-checkbox ng-model="filter.price2" class="md-warm"> $5 - $10</md-checkbox>
                     </div>
                     <div class="checkbox">
                         <md-checkbox ng-model="filter.price4" class="md-warm"> $10 - $50</md-checkbox>
                     </div>
                     <div class="checkbox">
                         <md-checkbox ng-model="filter.price5" class="md-warm">$50 - $100</md-checkbox>
                     </div>
                     <div class="checkbox">
                         <md-checkbox ng-model="filter.price6" class="md-warm">$100+</md-checkbox>
                     </div>
                </li>
            </ul>
        </div><!-- End sidebar -->
        <div class="col-md-10"><!-- Main Body -->

            <div class="container-fluid">
                <div id="sort-menu" class="row-fluid">
                    <span>SORT BY:</span>
                    <a href="#">Recently Added</a>
                    <a href="#">Most Viewed</a>
                    <a href="#">Price: Low-to-High</a>
                    <a href="#">Price: High-to-Low</a>
                </div>
            </div>     


            <!-- Posts -->
            <!-- Portfolio Grid Section -->
            <section id="portfolio" class="bg-light-gray">
                <div class="container-fluid">
                    <div class="row-fluid item-row">
                        <div ng-repeat="item in items" class="item-container col-md-4 col-sm-6  ">
                            <div class="item-container-inner portfolio-item"> 
                                <div class="item-container-top">
                                    <carousel interval=0 no-wrap=false template-url="imgCarouselTemplate.html">
                                        <slide ng-repeat="slide in item.slides" active="slide.active">
                                            <div class="img-container"> 
                                                <img ng-src="{{slide.img}}" class="img-responsive">
                                            </div>
                                        </slide>
                                    </carousel>

            				        <!-- Like heart -->
                                    <div class="like-container">
                                        <a href="#" class="like">&#9829;</a>
            						</div>

                                    <!-- Item Price -->
                                    <div class="item-price">
                                        <span class="item-price-currency-sym">$</span>
                                        <span class="item-price-value">{{item.price}}</span>
                                        <span class="item-price-currency-abr">CAD</span>
                                    </div>
            
                                    <!-- User Image -->
                                    <div class="user-pic-container">
                                       <img src="img/user/profile-pic.jpg">
                                    </div>

                                </div><!-- Ends .item-container-top-->    
                                <div class="portfolio-caption">
                                    <a href="">{{item.name}}</a>
                                </div>
                            </div><!-- .item-container-inner -->
                        </div><!-- .item-container -->
                    </div><!-- .row-fluid-->

                    <div class="row-fluid">
                        <div class="pagination-container">
                                <pagination ng-model="currentPage" 
                                            ng-change="pageChanged()" 
                                            total-items="60" 
                                            max-size="4" 
                                            items-per-page="12"
                                            class="pagination-sm" 
                                            rotate="false" ></pagination>
                        </div>
                    </div>
                </div>
            </section>
        </div><!-- Closes body -->
    </div>
</div><!-- Closes main .container -->

<!-- Bottom Chat Bar -->
<nav class="navbar navbar-default navbar-fixed-bottom navbar-shrink" id="dummy-chat-holder">
    <div class="container">

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <!-- Right section -->
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>

                <li class="dropdown">
                  <a id="chat-toggle" class="dropdown-toggle chat-toggle" data-toggle="dropdown" role="button">
                        <span class="caret" style="color:red"></span>
                  </a>
                  <div class="dropdown-menu">
                    <div class="chat">
                        <div class="top-bar">
                            <div class="chat-img-container">
                                <img src="img/user/profile-pic.jpg">
                            </div>    
                            <span class="username">John Smith</span>
                            
                            <span class="pull-right glyphicon glyphicon-remove quit-sym"></span>
                            <span class="pull-right glyphicon glyphicon-minus minimize-sym"></span>
                        </div>
                        <div class="messages-container">
                            <div class="talk-bubble tri-right left-top">
                                 <div class="talktext">
                                    <p>
                                        Lorem ipsum dolor sit amet, 
                                        consectetur adipiscing elit. 
                                        Sed aliquam dui erat. 
                                        Cras tempus neque vitae ex efficitur imperdiet.
                                    </p>
                                  </div>
                            </div> 

                            <div class="talk-bubble tri-left right-top">
                                 <div class="talktext">
                                    <p>
                                        Lorem ipsum dolor sit amet, 
                                        consectetur adipiscing elit. 
                                        Sed aliquam dui erat. 
                                    </p>
                                  </div>
                            </div> 
                        </div>    
                        <div class="input-group">
                             <input type="text" class="form-control" placeholder="Enter Message">
                             <span class="input-group-btn">
                               <button class="btn btn-default" type="button">Send</button>
                             </span>
                        </div>
                    </div>
                  </div>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>


<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; Prada 2015</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li><a href="#">Privacy Policy</a>
                    </li>
                    <li><a href="#">Terms of Use</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>


