<!-- Custom CSS -->
<link href="css/custom-agency-listing.css" rel="stylesheet">
<link href="css/custom-listing.css" rel="stylesheet">

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top navbar-shrink" >
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">Prada</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
            <!-- Left section -->
            <ul class="nav navbar-nav navbar-left">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="" ui-sref="listing.clothing">Clothing</a>
                </li>
                <li>
                    <a class="" ui-sref="listing.books">Books</a>
                </li>
                <li>
                    <a class="" ui-sref="listing.electronics">Electronics</a>
                </li>
                <li>
                    <a class="" ui-sref="listing.furniture">Furniture</a>
                </li>
                <li>
                    <div class="search-container">
                        <input type="text" placeholder="Search"> 
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </div>
                </li>
            </ul>

            <!-- Right section -->
            <!--
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li >
                    <a id="post-item-btn" href="" ng-click="postItem()">
                        Post(Modal) 
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </li>
                <li >
                    <a id="post-item-btn" ui-sref="post">
                        Post
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </li>

                <li dropdown on-toggle="toggled(open)">
                    <a href is-open dropdown-toggle>
                        Spandan 
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href>Postings</a></li>
                        <li><a href>Favorites</a></li>
                        <li><a href>Recently Viewed</a></li>
                        <li class="divider"></li>
                        <li><a href>Preferences</a></li>
                        <li><a href>Logout</a></li>
                     </ul>
                </li>
            </ul> 
            -->
             <ul class="nav navbar-nav navbar-right">
                <li >
                    <a id="post-item-btn" ui-sref="post">
                        Post 
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </li>

                <li class="dropdown">
                     <a  href="" data-toggle="modal" data-target="#myModal">
                        Log In
                    </a>
                </li>
                <li class="dropdown">
                     <a  href="" data-toggle="modal" data-target="#myModal" style="padding-right:50px">
                        Sign Up
                        
                    </a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
