<!-- Custom CSS -->
<link href="css/custom-agency-listing.css" rel="stylesheet">
<link href="css/custom-listing.css" rel="stylesheet">
<link href="css/custom-post.css" rel="stylesheet">

<!-- Custom Dependencies -->
<script src="other_components/ui-bootstrap-custom-build/ui-bootstrap-custom-tpls-0.13.3.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>

<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="intro-text col-md-6 col-md-offset-3">
                        <div class="hero-main-text">Post Items</div>
                        <div class="hero-sub-text">Post items that you'd like to sell, or are looking for,  here.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-md-10 col-md-offset-1"> 

            <div class="row-fluid">
                <div class="col-md-12"> 
                    <md-input-container>
                        <label>Title</label>
                        <input ng-model="item.title">
                    </md-input-container>
                </div>
            </div>

            <div class="row-fluid">
                <div class="col-md-12"> 
                    <div class="upload-img-container" layout="row">
                        <input type="file" nv-file-select uploader="uploader" multiple/><br/>
                        <img src="img/icons/upload.png" alt="">
                        <div> Add Photos</div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="col-md-12"> 
                    <div class="row-fluid">
                        <div ng-repeat="item in uploader.queue" class="col-md-6">
                            <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 300 }" ng-click="item.remove()" class="preview-container"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row-fluid">
                <div class="btn-group btn-group-lg" >
                    <button type="button" class="btn btn-default" ng-click="selectType('clothing')">
                        <span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span>
                        Clothing
                    </button>

                    <button type="button" class="btn btn-default" ng-click="selectType('books')">
                        <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
                        Books 
                    </button>

                    <button type="button" class="btn btn-default" ng-click="selectType('electronics')">
                        <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
                        Electronics 
                    </button>

                    <button type="button" class="btn btn-default" ng-click="selectType('furniture')">
                        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                        Furniture
                    </button>

                </div>
            </div>

            <div class="row-fluid">
                <div class="col-md-6"> 
                    <md-input-container>
                        <label>Asking Price</label>
                        <input ng-model="item.askingPrice">
                    </md-input-container>
                </div>
            </div>

            <!-- Category specific fields -->
            <!-- Clothing -->
            <div ng-show="item.category=='clothing'">
                    <div class="col-md-6"> 
                        <md-input-container>
                            <label>Brand</label>
                            <input ng-model="item.brand">
                        </md-input-container>
                    </div>
            </div>

            <!-- Books -->
            <div ng-show="item.category=='books'">
                <div class="row-fluid">
                    <div class="col-md-6"> 
                        <md-input-container>
                            <label>Year</label>
                            <input ng-model="item.year">
                        </md-input-container>
                    </div>
                    <div class="col-md-6"> 
                        <md-input-container>
                            <label>Author</label>
                            <input ng-model="item.author">
                        </md-input-container>
                    </div>
                </div>
            </div>

            <!-- Electronics -->
            <div ng-show="item.category=='electronics'">
                    <div class="col-md-6"> 
                        <md-input-container>
                            <label>Brand</label>
                            <input ng-model="item.brand">
                        </md-input-container>
                    </div>
            </div>

            <!-- Furniture -->
            <div ng-show="item.category=='furniture'">
            </div>


            <div class="row-fluid" ng-show="!!item.category">
                <md-input-container>
                    <label>Description</label>
                    <input ng-model="item.description">
                </md-input-container>
                <button class="btn btn-success" ng-click="post()">Post Item</button> 
            </div>


            <div class="row-fluid">
            </div>

        </div>
 
    </div>
</div><!-- Closes main .container -->




