<!-- Sidebar -->
<div class="col-md-2 hidden-xs hidden-sm">
    <ul class="nav">
        <li>
            <h4>Filter</h4>
            <hr>  
        </li> 
        <li><!-- Book infor filters -->
            <md-input-container>
                <label>Title</label>
                <input ng-model="item.title">
            </md-input-container>

            <md-input-container>
                <label>Author</label>
                <input ng-model="item.author">
            </md-input-container>

            <md-input-container>
                <label>Year</label>
                <input ng-model="item.year">
            </md-input-container>

            <md-input-container>
                <label>Edition</label>
                <input ng-model="item.edition">
            </md-input-container>

        </li>
        <li><!-- Price Filter -->
            <div> Price </div>
             <div class="checkbox">
                 <md-checkbox ng-model="filter.price1" class="md-warm">&lt; $5</md-checkbox>
             </div>
             <div class="checkbox">
                 <md-checkbox ng-model="filter.price2" class="md-warm"> $5 - $10</md-checkbox>
             </div>
             <div class="checkbox">
                 <md-checkbox ng-model="filter.price4" class="md-warm"> $10 - $50</md-checkbox>
             </div>
             <div class="checkbox">
                 <md-checkbox ng-model="filter.price5" class="md-warm">$50 - $100</md-checkbox>
             </div>
             <div class="checkbox">
                 <md-checkbox ng-model="filter.price6" class="md-warm">$100+</md-checkbox>
             </div>
        </li>
    </ul>
</div><!-- End sidebar -->
