<div class="container-fluid">
<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
        <div class="account-wall-2">


        <form name=form role="form" >
            <h3 class="text-center">SIGN UP</h3>
            
       <!--      <div class="alert alert-danger" ng-show="form.firstname.$dirty && form.firstname.$invalid">
                <span ng-show="form.firstname.$error.required">First Name is required.</span>
            </div>
            <div class="alert alert-danger" ng-show="form.lastname.$dirty && form.lastname.$invalid">
                <span ng-show="form.lastname.$error.required">Last Name is required.</span>
            </div>
           <div class="alert alert-danger" ng-show="form.acctnumber.$dirty && form.acctnumber.$invalid">
                <span ng-show="form.acctnumber.$error.required && !form.acctnumber.$error.number">Account Number is required.</span>
                <span ng-show="form.acctnumber.$error.number">Enter a numeric Account Number.</span>
            </div>
            <div class="alert alert-danger" ng-show="form.ifsc.$dirty && form.ifsc.$invalid">
                <span ng-show="form.ifsc.$error.required && !form.ifsc.$error.number">IFSC is required.</span>
                <span ng-show="form.ifsc.$error.number">IFSC must be a numeric code.</span>
            </div>
            <div class="alert alert-danger" ng-show="form.password.$dirty && form.password.$invalid">
                <span ng-show="form.password.$error.required">Password is required.</span>
            </div>
            <div class="alert alert-danger" ng-show="form.conf-password.$dirty && form.conf-password.$invalid">
                <span ng-show="form.conf-password.$error.required">Password confirmation is required.</span>
            </div>
            <div class="alert alert-danger" ng-show="form.location.$dirty && form.location.$invalid">
                <span ng-show="form.location.$error.required">Location is required.</span>
            </div>
            <div class="alert alert-danger" ng-show="regClicked">
                <span ng-show="form.$invalid && regClicked">Cannot submit invalid form.</span>
                <span ng-show>{{errorMsg}}</span>
            </div> -->

            <hr class="colorgraph-custom">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="form-group">
                        <input type="text" ng-model=firstname class="form-control" placeholder="First Name" tabindex="1" name=firstname required="" \>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="form-group">
                            <input type="text" ng-model=lastname class="form-control" placeholder="Last Name" tabindex="2" name=lastname required>
                    </div>
                </div>
            </div>
           
            <!--div class="form-group">
                <input type="email" ng-model=email class="form-control" placeholder="Email (Optional)" tabindex="5">
            </div-->
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="form-group">
                        <input type="password" ng-model=password class="form-control" placeholder="Password" name="password" tabindex="5" required>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Confirm Password" tabindex="6" name="conf-password"  required>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-8">
                    <div class="form-group">
                        <input type="text" ng-model=location class="form-control" placeholder="Email Address" tabindex="7" name="location" required>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <select ng-model=lang class="form-control">
                        <option value="" >LANGUAGE</option>
                        <option >English</option>
                        <option >French</option>
                    </select>
                </div>    
            </div>
            
            <hr class="colorgraph-custom">
            <div class="row">
                    <div class="col-xs-12 col-md-12"><input type="submit" ng-click="clicked()" value="register" class="btn btn-primary btn-block btn-lg" tabindex="8"></div>
                    
            </div>
        </form>
        </div>
    </div>
</div>
</div>